   body{
background-image: url(unnamed.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 800px;
background-position: center;
}
h1{
color: cyan
}
.top-hader{
text-align: center;
border-left: 7px solid;
border-right: 7px solid;
border-image: linear-gradient(gray, black);
border-image-slice: 1;
}
.out{
/* background-color: ; */
color: rgb(46, 46, 46);
background-color: black;

}
.link-button{
text-decoration: none;
background-image: linear-gradient(45deg, black, gray);
padding: 20px 30px;
border-radius: 5px;
color: white;
font-weight: 700;
float: left;
margin-left: 20px;
margin-top: 20px;
}
.rs{
text-align: center;
color: gray;
}
.link-button:hover{
color:rgb(0, 0, 0);
}


